.section-hero {

  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  text-align: center;
  padding: 80px 24px 60px;

}

/* Container do Conteúdo*/
.hero-container {

  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;

}

.hero-title {
  font-size: clamp(2.2rem, 5vw, 4rem);
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

/* todos os pedaços animáveis */
.hero-title span {
  display: inline-block;
  opacity: 0;
  transform: translateY(-50px);
  animation: dropIn 0.8s ease-out forwards;
}

/* delays em sequência */
.hero-title .t1 {
  animation-delay: 0.00s;
}

/* Andressa */
.hero-title .t2 {
  animation-delay: 0.18s;
}

/* Cabral */
.hero-title .t3 {
  animation-delay: 0.40s;
}

/* Desenvolvedora */
.hero-title .t4 {
  animation-delay: 0.58s;
}

/* front-end */

@keyframes dropIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* gradiente só no "front-end" */

.hero-title .gradient {
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

/* parágrafo */
.hero-subtitle {

  font-size: clamp(1.05rem, 2vw, 1.5rem);
  margin-bottom: 1.5rem;
  opacity: 0;
  transform: translateX(-50px);
  animation: slideInLeft 0.8s ease-out forwards;
  animation-delay: 1.15s;


}

@keyframes slideInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}